import { Iterable, Iterator } from .iterate;

/** Standard built-in linear slice type.

    Slice objects can be taken from arrays, strings, or other data structures which have
    a contiguous, linear memory layout.
*/
export struct Slice[T] implements Iterable[T] {
  iterate => SliceIterator[T]();
}

export class SliceIterator[T] implements Iterator[T] {
  next -> T | void {}
}
