/** An iterable sequence of characters. The interal representation is a UTF-8 encoded byte sequence.
    For efficient random access to characters, conver the `String` into a character array.
*/
export final class String extends FlexAlloc[u8] {
  const size: int;

  new() {
    self = __alloc(0);
    size = 0;
  }

  get empty: bool => size == 0;

  // Need Slice.
  // Construct from byte slice
  // Construct from char slice
}
